.MuiDrawer-paper {
    background-color: transparent !important;
    box-shadow: none !important;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.MuiBackdrop-root {
    background-color: transparent !important;
}

.connect-drawer-content {
    background-color: #F3ECD2;
    border: 2px solid black;
}

.MuiTabs-root {
    margin-bottom: 16px;
    border: 2px solid #222 !important;
    border-radius: 55px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.MuiTab-root {
    background-color: #F3ECD2 !important;
    color: black !important;
    border-radius: 8px !important;
    margin: 0 0px !important;
    text-transform: none !important;
    font-weight: bold !important;
    outline: 0 !important;
    width: 50% !important;
}

.Mui-selected {
    background-color: #f97028 !important;
    color: white !important;
    border-radius: 55px !important;
    outline: 0 !important;
    width: 50% !important;
}

.MuiTabs-indicator {
    background-color: transparent !important;
}